/*------------------------------------*\ $VARIABLES
\*------------------------------------*/
/** CONTENTS COLOR-SHEME.........Set theme colors TYPOGRAPHY.......... BREAKPOINTS......... SPACING............. LAYOUT.............. UTILITIES........... SCAFFOLDING......... */
/*------------------------------------*\ $COLOR-SHEME
\*------------------------------------*/
/** Basic colors Fancy generator: https://kuler.adobe.com */
/** Colors for alerts e.g. success, error, info */
/** 3 Shades of Grey */
/*------------------------------------*\ $TYPOGRAPHY
\*------------------------------------*/
/** Set the font weight variables according to the font e.g. http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700 In this case set the font weights to 200, 400 and 700  If you set a font weight in your css you must use this variables! e.g. font-weight: $font-a-weight-normal;  1. must be in px, do not use in your styles */
/* [1] */
/* [1] */
/** Font-sizes */
/** Primary font */
/** Secondary font */
/** Anchors */
/** Text selection */
/*------------------------------------*\ $BREAKPOINTS
\*------------------------------------*/
/** Breakpoints */
/*------------------------------------*\ $SPACING
\*------------------------------------*/
/** Basic spacing */
/*------------------------------------*\ $LAYOUT
\*------------------------------------*/
/*------------------------------------*\ $UTILITIES
\*------------------------------------*/
/** Grid */
/** Button */
/** Menu */
/** Island */
/** Media */
/** Skiplinks */
/** Pager */
/*------------------------------------*\ $SCAFFOLDING
\*------------------------------------*/
/*------------------------------------*\ SCAFFOLDING
\*------------------------------------*/
/** CONTENTS SYSTEM.............. BASE................ UTILITY............. */
/*------------------------------------*\ $SYSTEM
\*------------------------------------*/
/*------------------------------------*\ FUNCTIONS
\*------------------------------------*/
/** CONTENTS STRIP-UNITS......... PIXEL2EM............ EM2PIXEL............ EM2REM.............. */
/*------------------------------------*\ $STRIP-UNITS
\*------------------------------------*/
/*------------------------------------*\ $PIXEL2EM
\*------------------------------------*/
/** Convert a px value to em based on $font-base-size */
/*------------------------------------*\ $EM2PIXEL
\*------------------------------------*/
/** Convert a em value to px based on $font-base-size */
/*------------------------------------*\ $EM2REM
\*------------------------------------*/
/** Convert a em value to rem */
/*------------------------------------*\ $BASE
\*------------------------------------*/
/*------------------------------------*\ CLEARFIX
\*------------------------------------*/
/** Contain floats */
.clearfix, .grid, .menu--horizontal .menu__list--level1 { *zoom: 1; }
.clearfix:before, .grid:before, .menu--horizontal .menu__list--level1:before, .clearfix:after, .grid:after, .menu--horizontal .menu__list--level1:after { display: table; content: ' '; }
.clearfix:after, .grid:after, .menu--horizontal .menu__list--level1:after { clear: both; }

/*------------------------------------*\ VISIBILITY
\*------------------------------------*/
/** CONTENTS HIDDEN.............. VISUALLYHIDDEN...... INVISIBLE........... */
/*------------------------------------*\ $HIDDEN
\*------------------------------------*/
/** Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/*------------------------------------*\ $VISUALLYHIDDEN
\*------------------------------------*/
/** Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { width: 1px; height: 1px; margin: -1px; padding: 0; position: absolute; overflow: hidden; border: 0; clip: rect(0 0 0 0); }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { width: auto; height: auto; margin: 0; position: static; overflow: visible; clip: auto; }

/*------------------------------------*\ $INVISIBLE
\*------------------------------------*/
/** Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/*------------------------------------*\ SPACING
\*------------------------------------*/
/** CONTENTS BOTTOM.............. INNER............... */
/*------------------------------------*\ $BOTTOM
\*------------------------------------*/
.spacing--bottom--xs { margin-bottom: 0.5em; }

.spacing--bottom--s { margin-bottom: 1em; }

.spacing--bottom--m { margin-bottom: 1.25em; }

.spacing--bottom--l { margin-bottom: 2em; }

.spacing--bottom--xl { margin-bottom: 3em; }

.spacing--bottom--xxl { margin-bottom: 4em; }

.spacing--bottom--xxxl { margin-bottom: 5em; }

.spacing--bottom--off { margin-bottom: 0; }

/*------------------------------------*\ $INNER
\*------------------------------------*/
.spacing--inner--both--xs { padding-top: 0.5em; padding-bottom: 0.5em; }

.spacing--inner--both--s { padding-top: 1em; padding-bottom: 1em; }

.spacing--inner--both--m { padding-top: 1.25em; padding-bottom: 1.25em; }

.spacing--inner--both--l { padding-top: 2em; padding-bottom: 2em; }

.spacing--inner--both--xl { padding-top: 3em; padding-bottom: 3em; }

.spacing--inner--both--xxl { padding-top: 4em; padding-bottom: 4em; }

.spacing--inner--both--xxxl { padding-top: 5em; padding-bottom: 5em; }

/*------------------------------------*\ LIST
\*------------------------------------*/
/** CONTENTS UNSTYLED............ */
/*------------------------------------*\ $UNSTYLED
\*------------------------------------*/
.list--unstyled, .menu__list { padding-left: 0; list-style-type: none; }

/*------------------------------------*\ LAYOUT
\*------------------------------------*/
/** CONTENTS CONTAINER........... */
/*------------------------------------*\ $CONTAINER
\*------------------------------------*/
.container { margin: 0 auto; padding: 0 1em; max-width: 78em; }

/*------------------------------------*\ BASE
\*------------------------------------*/
/** CONTENTS ELEMENTS............ SELECTION........... */
/*------------------------------------*\ $ELEMENTS
\*------------------------------------*/
html { font-size: 100%; line-height: 1.5; }

html, button, input, select, textarea { color: #222222; font-family: "Helvetica Neue", sans-serif; }

/* A better looking default horizontal rule */
hr { display: block; margin: 1em 0; padding: 0; height: 1px; border: 0; border-top: 1px solid #cccccc; }

/* Remove the gap between images, videos, audio and canvas and the bottom of their containers: h5bp.com/i/440 */
audio, canvas, img, svg, video { vertical-align: middle; }

/* Remove default fieldset styles. */
fieldset { margin: 0; padding: 0; border: 0; }

/* Allow only vertical resizing of textareas. */
textarea { resize: vertical; }

/*------------------------------------*\ $SELECTION
\*------------------------------------*/
/* Remove text-shadow in selection highlight: h5bp.com/i These selection rule sets have to be separate. Customize the background color to match your design. */
::-moz-selection { background: #203959; color: white; text-shadow: none; }

::selection { background: #203959; color: white; text-shadow: none; }

/*------------------------------------*\ TYPOGRAPHY
\*------------------------------------*/
/** CONTENTS HEADLINES........... ANCHORS............. WHITESPACE.......... */
/*------------------------------------*\ $HEADLINES
\*------------------------------------*/
/** Reset margin on headlines */
h1, h2, h3, h4 { margin-top: 0; margin-bottom: 0.5em; color: #203959; font-weight: 700; font-family: Georgia, serif; line-height: 1; }

h1 { font-size: 2.25em; }

h2 { font-size: 1.875em; }

h3 { font-size: 1.5em; }

h4 { font-size: 1.25em; }

h5 { margin: 0; font-size: 1em; }

h6 { margin: 0; font-size: 1em; }

/*------------------------------------*\ $ANCHORS
\*------------------------------------*/
/** <span class="a">readmore...</span> */
a, .a { color: #203959; text-decoration: underline; }
a:visited, .a:visited { color: #203959; }
a:hover, a:focus, .a:hover, .a:focus { color: #203959; text-decoration: none; }

/** Reversed link behaviour */
.a--reversed { text-decoration: none; }
.a--reversed:hover, .a--reversed:focus { text-decoration: underline; }

/** Style tel anchors like normal text on big screens (big screen most likely not mobile) */
@media (min-width: 480px) { a[href^="tel"], a[href^="tel"]:hover, a[href^="tel"]:focus { color: #222222; text-decoration: none; cursor: default; } }
/*------------------------------------*\ $WHITESPACE
\*------------------------------------*/
/** Add whitespace around some block elements */
p, ul, ol, dl, pre, form, table, figure, address, fieldset, blockquote { margin-top: 0; margin-bottom: 1.25em; }

ul, ol, dl { padding-left: 1.5em; }

/** no margin for nested lists */
li ul, li ol, li dl { margin-bottom: 0; }

/** no margin for nested tables */
table table { margin-bottom: 0; }

/*------------------------------------*\ $UTILITY
\*------------------------------------*/
/*------------------------------------*\ GRID
\*------------------------------------*/
/** CONTENTS BASE................ SMALL............... MEDIUM.............. LARGE............... XLARGE..............   <div class="grid"> <div class="grid__item--6 grid__item--m--3"> [optional]<div class="grid__inner"></div>[/optional] </div> <div class="grid__item--6 grid__item--m--3"> [optional]<div class="grid__inner"></div>[/optional] </div> <div class="grid__item--12 grid__item--s--6"> [optional]<div class="grid__inner"></div>[/optional] </div> <div class="grid__item--12 grid__item--s--6"> [optional]<div class="grid__inner"></div>[/optional] </div> </div> */
/*------------------------------------*\ $BASE
\*------------------------------------*/
/** Styles for all devices */
.grid { margin-left: -1.25em; }
@media (max-width: 719px) { .grid { margin-left: -1em; } }

[class*="grid__item"] { float: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; padding-left: 1.25em; }
@media (max-width: 719px) { [class*="grid__item"] { padding-left: 1em; } }

.grid__item--1 { width: 8.3333333%; }

.grid__item--2 { width: 16.6666667%; }

.grid__item--3 { width: 25%; }

.grid__item--4 { width: 33.3333333%; }

.grid__item--5 { width: 41.6666667%; }

.grid__item--6 { width: 50%; }

.grid__item--7 { width: 58.3333333%; }

.grid__item--8 { width: 66.6666667%; }

.grid__item--9 { width: 75%; }

.grid__item--10 { width: 83.3333333%; }

.grid__item--11 { width: 91.6666667%; }

.grid__item--12 { width: 100%; }

/*------------------------------------*\ $SMALL
\*------------------------------------*/
@media (min-width: 480px) { .grid__item--s--1 { width: 8.3333333%; }
  .grid__item--s--2 { width: 16.6666667%; }
  .grid__item--s--3 { width: 25%; }
  .grid__item--s--4 { width: 33.3333333%; }
  .grid__item--s--5 { width: 41.6666667%; }
  .grid__item--s--6 { width: 50%; }
  .grid__item--s--7 { width: 58.3333333%; }
  .grid__item--s--8 { width: 66.6666667%; }
  .grid__item--s--9 { width: 75%; }
  .grid__item--s--10 { width: 83.3333333%; }
  .grid__item--s--11 { width: 91.6666667%; }
  .grid__item--s--12 { width: 100%; } }
/*------------------------------------*\ $LARGE
\*------------------------------------*/
@media (min-width: 960px) { .grid { margin-left: -1.25em; }
  [class*="grid__item"] { padding-left: 1.25em; }
  .grid__item--l--1 { width: 8.3333333%; }
  .grid__item--l--2 { width: 16.6666667%; }
  .grid__item--l--3 { width: 25%; }
  .grid__item--l--4 { width: 33.3333333%; }
  .grid__item--l--5 { width: 41.6666667%; }
  .grid__item--l--6 { width: 50%; }
  .grid__item--l--7 { width: 58.3333333%; }
  .grid__item--l--8 { width: 66.6666667%; }
  .grid__item--l--9 { width: 75%; }
  .grid__item--l--10 { width: 83.3333333%; }
  .grid__item--l--11 { width: 91.6666667%; }
  .grid__item--l--12 { width: 100%; } }
/*------------------------------------*\ BUTTON
\*------------------------------------*/
/** CONTENTS BASE................ SIZES............... FONT-SIZES.......... FUNCTIONS........... */
/*------------------------------------*\ $BASE
\*------------------------------------*/
.button { display: inline-block; margin: 0; padding: 0.5em 1em; border: none; background: #203959; vertical-align: top; white-space: nowrap; font-size: 100%; font-family: inherit; cursor: pointer; }
.button, .button:hover, .button:focus, .button:active { outline: none; color: #fff; text-decoration: none; }
.button:hover, .button:focus, .button:active { background: #62748a; }

/*------------------------------------*\ $SIZES
\*------------------------------------*/
/**
* Button size modifiers.
*
* These all follow the same sizing rules as above; text is 1em, space around it
* remains uniform.
*/
/*------------------------------------*\ $FONT-SIZES
\*------------------------------------*/
/**
* Button font-size modifiers.
*/
/*------------------------------------*\ $FUNCTIONS
\*------------------------------------*/
/*------------------------------------*\ MENU
\*------------------------------------*/
/** CONTENTS DEFAULT............. OFF CANVAS.......... HORIZONTAL.......... VERTICAL............ */
/*------------------------------------*\ $DEFAULT
\*------------------------------------*/
/** 1. Set position root for off canvas menu 2. Set position root for sub menus (dropdowns) */
html { position: relative; /* [1] */ }

.menu__list { margin-bottom: 0; }

.menu__list--level1 { -webkit-transition: -webkit-transform 0.2s; transition: transform 0.2s; }

.menu__item { position: relative; /* [2] */ }

.menu__link { display: block; text-decoration: none; }

.menu__checkbox { display: none; }

@media (min-width: 720px) { .menu__controls { display: none; } }

/*------------------------------------*\ $OFF CANVAS
\*------------------------------------*/
.menu--off-canvas .menu__controls { position: absolute; top: 0; left: 0; z-index: 1; display: block; width: 100%; }
.menu--off-canvas .menu__list--level1 { position: absolute; top: 0; bottom: 0; left: 0; padding-top: 3em; max-width: 20em; width: 70%; -webkit-transform: translate(-100%, 0); -ms-transform: translate(-100%, 0); transform: translate(-100%, 0); }
.menu--off-canvas .menu__checkbox:checked + .menu__list--level1 { -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); }

/*------------------------------------*\ $HORIZONTAL
\*------------------------------------*/
@media (max-width: 719px) { .menu--horizontal .menu__list--level1 { height: 0; -webkit-transform: scale(1, 0); -ms-transform: scale(1, 0); transform: scale(1, 0); -webkit-transform-origin: 0 0; -ms-transform-origin: 0 0; transform-origin: 0 0; }
  .menu--horizontal .menu__checkbox:checked + .menu__list--level1 { height: auto; -webkit-transform: scale(1, 1); -ms-transform: scale(1, 1); transform: scale(1, 1); } }
@media (min-width: 720px) { .menu--horizontal .menu__list--level1 .menu__list { position: absolute; visibility: hidden; opacity: 0; -webkit-transition: opacity 0.2s; transition: opacity 0.2s; }
  .menu--horizontal .menu__list--level1 .menu__list .menu__list { top: 0; left: 100%; }
  .menu--horizontal .menu__item:hover > .menu__list, .menu--horizontal .menu__item:focus > .menu__list { visibility: visible; opacity: 1; }
  .menu--horizontal .menu__item--level1 { float: left; } }

/*------------------------------------*\ $VERTICAL
\*------------------------------------*/
/*------------------------------------*\ SCAFFOLDING
\*------------------------------------*/
/** CONTENTS SYSTEM.............. BASE................ UTILITY............. */
/*------------------------------------*\ $SYSTEM
\*------------------------------------*/
/*------------------------------------*\ $BASE
\*------------------------------------*/
/*------------------------------------*\ $UTILITY
\*------------------------------------*/
/*------------------------------------*\ SKIPLINKS
\*------------------------------------*/
/** CONTENTS BASE................ */
/*------------------------------------*\ $BASE
\*------------------------------------*/
.skiplinks__list { margin: 0; padding: 0; height: 0; }

/*------------------------------------*\ STYLE
\*------------------------------------*/
/** CONTENTS PLACEHOLDER......... */
/*------------------------------------*\ $PLACEHOLDER
\*------------------------------------*/

/*# sourceMappingURL=style.css.map */