@if $cmp-skiplinks {

/*------------------------------------*\
  SKIPLINKS
\*------------------------------------*/
/**
 * CONTENTS
 * BASE................
 */



/*------------------------------------*\
  $BASE
\*------------------------------------*/

.skiplinks__list {
  margin: 0;
  padding: 0;
  height: 0;
}

} // endif